<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Venta de artículos electrónicos">

  <!-- SHARED REDES -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Craftsy">
  <meta property="og:description" content="Venta de artículos electrónicos">
  <meta property="og:image" content="/images/icon/logo_head.png">
  <meta property="og:url" content="http://localhost:3030">

  <link rel="icon" href="/images/icon/ico_logo_head.ico" type="image/x-icon">

  <title>Craftsy - Home</title>
</head>
<body>
  <h1>Craftsy</h1>
</body>
</html>