.main-header {
    background-color: var(--orange);
    padding: 8px 11px;
    display: flex;
    justify-content: space-between;
}

.main-header .nav-principal {}

.main-header .nav-principal ul {
    margin: 0;
    display: flex;
    gap: 13px;
    padding: 0;
    align-items: center;
}

.main-header .nav-principal ul li {}

.main-header .nav-principal ul li a {
    color: var(--white);
}

.main-header .nav-principal ul li a.link-1 {
    display: inline-block;
    width: 80px;
}

.main-header .nav-principal ul li a.link-2 {
    display: none;
}

.main-header .nav-principal ul li a.link-3 {
    display: none;
}

.main-header .nav-principal ul li a.link-4 {
    display: none;
}

.main-header .nav-principal ul li a.link-1 img.logo {
    width: 100%;
}

.main-header .nav-secondary {
    display: flex;
}

.main-header .nav-secondary ul {margin: 0;display: flex;gap: 13px;padding: 0;align-items: center;justify-content: center;}

.main-header .nav-secondary ul li {}

.main-header .nav-secondary ul li a {
    color: var(--white);
}

.main-header .nav-secondary ul li a.link-1 {
    display: none;
}

.main-header .nav-secondary ul li a.link-2 {
    display: none;
}

.main-header .nav-secondary ul li a.link-3 {
    font-size: 1.3rem;
    border: 1px solid var(--white);
    padding: 5px 7px;
    border-radius: 3px;
}