/* MOBILE */
.home {}

/* PRODUCTS */
.home .container-products {
    max-width: 300px;
    margin: 15px auto;
    background-color: var(--white);
    padding: 10px;
}

.home .container-products .product {
    max-width: 280px;
    margin: 0 auto 26px auto;
}

.home .container-products .product figure {
    margin: 0 auto;
    max-width: 280px;
}

.home .container-products .product figure img {
    width: 100%;
}

.home .container-products .product h3.product-name {
    font-size: 1rem;
}

.home .container-products .product p.product-description {
    font-size: 0.7rem;
}

.home .container-products .product a.show-more {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    /* display: inline-block; */
    margin-bottom: 20px;
    font-size: .7rem;
    display: none;
}


/* TUTORIALS */
.home section.tutorials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.home section.tutorials h3.subtitle {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    border: 1px solid var(--lightgray);
    margin: 20px 0 0 0;
}

.home section.tutorials article {
    background-color: var(--white);
    display: flex;
    align-items: center;
    border: 1px solid var(--lightgray);
    border-radius: 4px;
    width: 300px;
    padding: 8px;
}

.home section.tutorials article figure {
    margin: 0;
    height: 70px;
}

.home section.tutorials article figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home section.tutorials article h5 {
    font-size: 0.7rem;
    flex-grow: 2;
    font-weight: normal;
    text-align: center;
}


/* PUBLICITY */
.home section.publicity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home section.publicity h3.subtitle {
    background-color: var(--white);
    width: 300px;
    padding: 10px;
    border: 1px solid var(--lightgray);
    margin: 20px 0;
}

.home section.publicity figure {
    margin: 0;
    width: 300px;
    background-color: var(--white);
    display: flex;
    padding: 8px;
}

.home section.publicity figure img {
    width: 280px;
    margin: 0 auto;
}



@media (min-width: 768px)  {  /* TABLET */
    .home {}

    /* PRODUCTS */
    .home .container-products {
    max-width: 738px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
}

    .home .container-products .product {
    max-width: 350px;
    margin: 0;
}

    .home .container-products .product figure {
    max-width: 350px;
}

    .home .container-products .product figure img {}

    .home .container-products .product h3.product-name {}

    .home .container-products .product p.product-description {}

    .home .container-products .product a.show-more {}


    /* TUTORIALS */
    .home section.tutorials {
    max-width: 738px;
    margin: 0 auto;
}

    .home section.tutorials h3.subtitle {
    width: 100%;
}

    .home section.tutorials article {
    flex-grow: 1;
    /* width: 49%; */
}

    .home section.tutorials article figure {}

    .home section.tutorials article figure img {}

    .home section.tutorials article h5 {}


    /* PUBLICITY */
    .home section.publicity {
    max-width: 738px;
    margin: 0 auto 20px;
}

    .home section.publicity h3.subtitle {
    width: 100%;
}

    .home section.publicity figure {flex-grow: 1;}

    .home section.publicity figure img {
    width: 100%;
}


.carousel-home .poi-custom-rounder {
    width: 8px;
    height: 8px;
    border-radius: 50% ;
}
}


@media (min-width:1024px) {  /* DESKTOP */
    .home {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    align-items: start;
}

    /* PRODUCTS */
    .home .container-products {margin: 0;align-items: start;gap: 10px;}

    .home aside {
        
width: 30%;
    }

   /*  .home .container-products .product {
    max-width: 100%;
} */

    .home .container-products .product figure {}

    .home .container-products .product figure img {}

    .home .container-products .product h3.product-name {}

    .home .container-products .product p.product-description {}

    .home .container-products .product a.show-more {
    display: inline-block;
}


    /* TUTORIALS */
    .home section.tutorials {
    gap: 3px;
}

    .home section.tutorials h3.subtitle {
    margin: 0 0 10px 0;
}

    .home section.tutorials article {
    gap: 8px;
}

    .home section.tutorials article figure {
    height: 60px;
    width: 90px;
}

    .home section.tutorials article figure img {}

    .home section.tutorials article h5 {
    text-align: left;
}


    /* PUBLICITY */
    .home section.publicity {
    /* margin-top: 30px; */
}

    .home section.publicity h3.subtitle {
    margin: 20px 0 10px 0;
}

    .home section.publicity figure {}

    .home section.publicity figure img {}


}